article.blog-article 
  h3 Градостроительный анализ
  p Градостроительный анализ – это подробное исследование территории с целью реорганизации пространства. 
    | Он включает в себя комплекс мероприятий.
  img(src="assets/img/blog.png" width="340" height="200" alt="" loading="lazy")