.advantages {
  padding: 8rem 0;
  background: url("../img/advantages-bg.jpg") top left/cover no-repeat;

  @media (min-width: 1024px) {
    padding: 10rem 0;
  }

  h2 {
    max-width: 28.2rem;
    align-self: flex-start;
    margin-bottom: 4rem;
    @include InterSemiBold();
    font-size: 2.6rem;
    line-height: 120.02%;
    color: var(--white_1);

    @media (min-width: 600px) {
      max-width: 100%;
      align-self: center;
    }

    @media (min-width: 1024px) {
      align-self: flex-start;
      margin-bottom: 6rem;
      font-size: 4rem;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 8.1rem;

      @media (min-width: 1024px) {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
      }

      &__left {
        margin-bottom: 4.1rem;

        @media (min-width: 1024px) {
          margin-bottom: 0;
        }
      }


      &__left,
      &__right {
        width: 100%;
        max-width: 55.1rem;

        @media (min-width: 1024px) {
          width: 48%;
        }

        @media (min-width: 1440px) {
          width: 50%;
        }

        p {
          @include InterRegular();
          font-size: 1.6rem;
          line-height: 130.02%;
          color: var(--white_1);
        }
      }
    }

    &-blocks {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 1024px) {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .advantages__inner-block {
        width: 100%;
        max-width: 56rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        border-top: 0.1rem solid var(--gray_4);

        @media (min-width: 1024px) {
          width: 48%;
        }

        @media (min-width: 1440px) {
          width: 50%;
        }

        
        &:nth-of-type(5),
        &:nth-of-type(6) {
          border-bottom: 0.1rem solid var(--gray_4);
        }

        img {
          width: 4rem;
          height: 4rem;
          margin-right: 2rem;
        }

        p {
          width: 100%;
          max-width: 50rem;
          @include InterMedium();
          font-size: 2rem;
          line-height: 120%;
          color: var(--white_1);
        }
      }
    }
  }
}