section.advantages
  .container
    h2 Преимущества Mirror Group 
    .advantages__inner
      .advantages__inner-text
        .advantages__inner-text__left
          p Первыми работами стали архитектурно-художественные решения для компаний стрит-ритейла и ресторанной индустрии. В 2014 
            | году область деятельности расширилась. 
        .advantages__inner-text__right
          p Мы освоили новые направления, среди них разработка проектов капитального строительства коммерческих площадей и объектов 
            | социального назначения. В этом же году начали появляться первые проекты по благоустройству
      .advantages__inner-blocks
        .advantages__inner-block
          img(src="assets/img/icons/advantages-icon-1.svg" width="40" height="40" alt="" loading="lazy")
          p 10 лет развития в архетектурно строительном направлении
        .advantages__inner-block
          img(src="assets/img/icons/advantages-icon-2.svg" width="40" height="40" alt="" loading="lazy")
          p Соответствуем всем требованиям генерального подрядчика
        .advantages__inner-block
          img(src="assets/img/icons/advantages-icon-3.svg" width="40" height="40" alt="" loading="lazy")
          p Комплексное видение процесса развития территорий
        .advantages__inner-block
          img(src="assets/img/icons/advantages-icon-4.svg" width="40" height="40" alt="" loading="lazy")
          p Создаем концепции благоустройства, которые воплощаются в жизнь
        .advantages__inner-block
          img(src="assets/img/icons/advantages-icon-5.svg" width="40" height="40" alt="" loading="lazy")
          p Опыт взаимодействия с государственными учреждениями
        .advantages__inner-block
          img(src="assets/img/icons/advantages-icon-6.svg" width="40" height="40" alt="" loading="lazy")
          p Работаем со сложными задачами и доводим их до конца