nav.nav
  ul(role="menu")
    li(role="menuitem")
      a(href="#services") Главная
    li(role="menuitem")
      a(href="#price") О компании
    li(role="menuitem")
      a(href="#reviews") Проекты
    li(role="menuitem")
      a(href="#photo") Услуги
    li(role="menuitem")
      a(href="#services") Награды и премии
    li(role="menuitem")
      a(href="#price") Публикации в сми
    li(role="menuitem")
      a(href="#reviews") Статьи
    li(role="menuitem")
      a(href="#photo") Контакты
