nav.nav
  ul(role="menu")
    li(role="menuitem").nav__item
      a(href="index.html").nav__item-link.nav__item-link--active Главная
    li(role="menuitem").nav__item
      a(href="#price").nav__item-link О компании
    li(role="menuitem").nav__item
      a(href="#reviews").nav__item-link Проекты
    li(role="menuitem").nav__item
      a(href="#photo").nav__item-link Услуги
    li(role="menuitem").nav__item
      a(href="awards.html").nav__item-link Награды и премии
    li(role="menuitem").nav__item
      a(href="news.html").nav__item-link Публикации в сми
    li(role="menuitem").nav__item
      a(href="articles.html").nav__item-link Статьи
    li(role="menuitem").nav__item
      a(href="#photo").nav__item-link Контакты
  button.btn.header__btn.header__btn--mobile Обратный звонок