.services-stages {
  margin: 7.5rem 0 0.5rem 0;

  @media (min-width: 1024px) {
    margin: 7.5rem 0 3.5rem 0;
  }

  h2 {
    max-width: 39.5rem;
    align-self: flex-start;
    margin-bottom: 4rem;

    @media (min-width: 1024px) {
      max-width: 61.5rem;
      margin-bottom: 8rem;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      width: 100%;
      max-width: 73.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (min-width: 1024px) {
      max-width: 100%;
    }
  }

  // &__cards {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   counter-reset: number 0;

  //   @media (min-width: 768px) {
  //     width: 73.8rem;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     flex-wrap: wrap;
  //     align-items: initial;
  //   }

  //   @media (min-width: 1200px) {
  //     width: 110.8rem;
  //   }

  //   @media (min-width: 1400px) {
  //     width: 100%;
  //   }

  //   .services-stages__card-wrap {
  //     position: relative;
  //     overflow: hidden;
  //     counter-increment: number 1; 
  //     // width: 100%;
  //     width: 36rem;
  //     height: 23rem;
  //     margin-bottom: 2.5rem;
  //     background: var(--white_2);
  //     border-radius: 0.5rem;
  //     cursor: pointer;

  //     &::before {
  //       position: absolute;
  //       z-index: -1;
  //       content: "";
  //       transform: translateY(-50%) rotate(1deg);
  //       bottom: 0;
  //       right: 1.5rem;
  //       width: 1.2rem;
  //       height: 1rem;
  //       color: #fff;
  //       background: url("../img/icons/arrow.svg") 100% 100%/1.2rem 1rem no-repeat;
  //       will-change: transform;
  //       transition: transform .5s linear;
  
  //       @media (min-width: 500px) {
  //         width: 2.7rem;
  //         height: 2.7rem;
  //       }
  //     }

  //     &--active {
  //       height: 100%;
  //       overflow: auto;
  //     }

  //     &::after {
  //       position: absolute;
  //       z-index: 10;
  //       top: 1.5rem;
  //       right: 1.5rem;
  //       // counter-increment: number 1; 
  //       content: '0' counter(number);
  //       width: 4.1rem;
  //       height: 4.1rem;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       @include InterMedium();
  //       font-size: 2.1rem;
  //       line-height: 2.5rem;
  //       color: var(--black_2);
  //       background: var(--white_2);
  //       border-radius: 50%;
  //       will-change: color, background;
  //       // transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  //     }

  //     @media (min-width: 1024px) {
  //       max-width: 36rem;
  //       margin-bottom: 4rem;
  //     }
      
  //     .services-stages__car-img {
  //       display: none;

  //       // &--active {
  //       //   display: block;
  //       // }
  //     }

  //     .services-stages__card-text {
  //       height: 0;
  //       background: var(--white_2);
  //       border-radius: 0.5rem;

  //       &--active {
  //         height: auto;
  //       }

  //       h3 {
  //         position: absolute;
  //         z-index: 10;
  //         top: 2rem;
  //         left: 1.5rem;
  //         width: 67%;
  //         margin-bottom: 1.5rem;
  //         @include InterMedium();
  //         font-size: 2rem;
  //         line-height: 120%;
  //         color: var(--black_2);
  //         will-change: color;
  //         transition: color 0.3s ease-in-out;
  //       }

  //       .services-stages__card-txt {
  //         position: relative;
  //         position: relative;
  //         transform: translateY(41%);
  //         z-index: 1;
  //         // transform: translateY(-150%);
  //         // z-index: -1;
  //         width: 31rem;
  //         padding: 1.5rem 1rem 6rem 1.5rem;
  //         @include InterRegular();
  //         font-size: 1.6rem;
  //         line-height: 130.02%;
  //         color: var(--black_1);

  //         &--active {
  //           z-index: 0;
  //           transform: translateY(0);
  //         }
  //       }
  //     }

  //     &:hover,
  //     &:focus {
  //       // height: 100%;

  //       &::before {
  //         z-index: 10;
  //       }

  //       &::after {
  //         color: var(--white_1);
  //         background: var(--red_1);
  //       }

  //       // p {
  //       //   z-index: 0;
  //       //   transform: translateY(-5%);
  //       // }

  //       .services-stages__card-text {
  //         // height: auto;

  //         h3 {
  //           color: var(--white_1);
  //         }
  //       }

  //       .services-stages__car-img {
  //         display: block;
  //       }
  //     }


      
  //   }

  //   // .services-stages__card-wrap {
  //     // position: relative;
  //     // width: 100%;
  //     // max-width: 36rem;
  //     // height: 23rem;
  //     // margin-bottom: 2.5rem;
  //     // background: var(--white_2);
  //     // border-radius: 0.5rem;
  //     // cursor: pointer;

  //   //   @media (min-width: 1024px) {
  //   //     max-width: 36rem;
  //   //     margin-bottom: 4rem;
  //   //   }

  //   //   .services-stages__card {
  //   //     // position: relative;
  //   //     // width: 100%;
  //   //     // max-width: 36rem;
  //   //     // height: 23rem;
  //   //     // margin-bottom: 2.5rem;
  //   //     // background: var(--white_2);
  //   //     // border-radius: 0.5rem;
  //   //     // cursor: pointer;
  
  //   //     // @media (min-width: 1024px) {
  //   //     //   max-width: 36rem;
  //   //     //   margin-bottom: 4rem;
  //   //     // }
  
  //   //     // @media (min-width: 1440px) {
  //   //     //   max-width: 36rem;
  //   //     // }
  
    //     &::after {
    //       position: absolute;
    //       z-index: 10;
    //       top: 1.5rem;
    //       right: 1.5rem;
    //       counter-increment: number 1; 
    //       content: '0' counter(number);
    //       width: 4.1rem;
    //       height: 4.1rem;
    //       display: flex;
    //       justify-content: center;
    //       align-items: center;
    //       @include InterMedium();
    //       font-size: 2.1rem;
    //       line-height: 2.5rem;
    //       color: var(--black_2);
    //       border-radius: 50%;
    //       will-change: color, background;
    //       transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    //     }
  
  //   //     &:hover,
  //   //     &:focus {
  //   //       img {
  //   //         display: block;
  //   //       }
  
  //   //       // h3 {
  //   //       //   color: var(--white_1);
  //   //       // }
  
  //   //       // &::after  {
  //   //       //   color: var(--white_1);
  //   //       //   background: var(--red_1);
  //   //       // }
  //   //     }
  
  //   //     img {
  //   //       display: none;
  //   //       will-change: display;
  //   //       transition: display 0.3s ease-in-out;
  //   //     }
  
  //   //     // &-text {
  //   //     //   // top: 0;
  //   //     //   // left: 50%;
  //   //     //   // transform: translateX(-50%);
  //   //     //   width: 100%;
  //   //     //   height: 100%;
  //   //     //   padding: 2rem 2rem 2rem 2rem;
  //   //     //   background: var(--white_2);
  //   //     //   border-radius: 0.5rem;
  
  //   //     //   h3 {
  //   //     //     position: absolute;
  //   //     //     z-index: 10;
  //   //     //     top: 2rem;
  //   //     //     width: 67%;
  //   //     //     margin-bottom: 1.5rem;
  //   //     //     @include InterMedium();
  //   //     //     font-size: 2rem;
  //   //     //     line-height: 120%;
  //   //     //     color: var(--black_2);
  //   //     //     will-change: color;
  //   //     //     transition: color 0.3s ease-in-out;
  //   //     //   }
    
  //   //     //   p {
  //   //     //     width: 27.6rem;
  //   //     //     @include InterRegular();
  //   //     //     font-size: 1.6rem;
  //   //     //     line-height: 130.02%;
  //   //     //     color: var(--black_1);
  //   //     //   }
  //   //     // }
  
  //   //   }

  //   //   .services-stages__card-text {
  //   //     width: 100%;
  //   //     height: 100%;
  //   //     padding: 2rem 2rem 2rem 2rem;
  //   //     background: var(--white_2);
  //   //     border-radius: 0.5rem;

  //   //     h3 {
  //   //       position: absolute;
  //   //       z-index: 10;
  //   //       top: 2rem;
  //   //       width: 67%;
  //   //       margin-bottom: 1.5rem;
  //   //       @include InterMedium();
  //   //       font-size: 2rem;
  //   //       line-height: 120%;
  //   //       color: var(--black_2);
  //   //       will-change: color;
  //   //       transition: color 0.3s ease-in-out;
  //   //     }
  
  //   //     p {
  //   //       width: 27.6rem;
  //   //       @include InterRegular();
  //   //       font-size: 1.6rem;
  //   //       line-height: 130.02%;
  //   //       color: var(--black_1);
  //   //     }

  //   //     &:hover,
  //   //     &:focus {
  //   //       img {
  //   //         display: block;
  //   //       }
  
  //   //       h3 {
  //   //         color: var(--white_1);
  //   //       }
  
  //   //       &::after  {
  //   //         color: var(--white_1);
  //   //         background: var(--red_1);
  //   //       }
  //   //     }
  
  //   //     img {
  //   //       display: none;
  //   //       will-change: display;
  //   //       transition: display 0.3s ease-in-out;
  //   //     }
  //   //   }
  //   // }
  // }
}


.services-stages__cards {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;

  @media (min-width: 768px) {
    max-width: 75rem;
    justify-content: space-between;
  }

  @media (min-width: 1024px) {
    max-width: 100%;
  }
}

.accordion__stages {
  counter-reset: number;
}


.accordion__stage {
  position: relative;
  width: 100%;
  counter-increment: number; 
  max-width: 36rem;
  // min-height: 23rem;
  // padding: 2rem 2rem 0.47rem 2rem;
  padding: 2rem 2rem 4.462rem 2rem;
  background: url("../img/stage.jpg") left top/100% 23rem no-repeat;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  cursor: pointer;

  @media (min-width: 375px) {
    padding: 2rem 2rem 6.462rem 2rem;
  }

  @media (min-width: 1024px) {
    max-width: 34rem;
    max-width: 32rem;
    padding: 2rem 2rem 8.462rem 2rem;
    margin-bottom: 14rem;
    background: var(--white_2);
  }

  @media (min-width: 1200px) {
    max-width: 36rem;
  }

  // @media (min-width: 1024px) {
  //   max-width: 32rem;
  //   margin-bottom: 4rem;
  // }

  // @media (min-width: 1440px) {
  //   max-width: 36rem;
  // }

  &--active {
    padding: 2rem 2rem 8.462rem 2rem;
    margin-bottom: 10rem;
  }


  &::before {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    transform: rotate(45deg);
    display: block;
    content: "";
    width: 1rem;
    height: 1rem;
    border-style: solid;
    border-color: var(--white_1);
    border-width: 0 0.3rem 0.3rem 0;
  }

  &::after {
    position: absolute;
    z-index: 10;
    top: 1.5rem;
    right: 1.5rem;
    content: '0' counter(number);
    width: 4.1rem;
    height: 4.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include InterMedium();
    font-size: 2.1rem;
    line-height: 2.5rem;
    color: var(--white_1);
    background: var(--red_1);
    border-radius: 50%;
    will-change: color, background;
    // transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

    @media (min-width: 1024px) {
      color: var(--black_2);
      background: none;
    }
  }

  h3 {
    width: 67%;
    margin-bottom: 1.5rem;
    @include InterMedium();
    font-size: 2rem;
    line-height: 120%;
    color: var(--white_1);
    will-change: color;
    // transition: color 0.3s ease-in-out;

    @media (min-width: 1024px) {
      color: var(--black_2);
    }
  }

  p {
    // padding: 1.5rem 1rem 6rem 1.5rem;
    @include InterRegular();
    font-size: 1.6rem;
    line-height: 130.02%;
    color: var(--black_1);
    margin-bottom: 0;
    opacity: 0;

    @media (min-width: 1024px) {
      opacity: 1;
    }

    // &--active {
    //   margin-bottom: 0;
    // }
  
  }

  &:hover,
  &:focus {
    // height: 22.8rem;
    // background: url("../img/stage.jpg") 100% 100%/cover no-repeat;
    background: url("../img/stage.jpg") left top/100% 23rem no-repeat;

    &::after  {
      color: var(--white_1);
      background: var(--red_1);
    }

    h3 {
      color: var(--white_1);
    }

    p {
      opacity: 0;
    }
  }

  &-content {
    position: relative;
    height: 0;
    overflow: hidden;
    opacity: 0;
    // height: 15rem;
    // width: 36rem;
    // transform: translate(-2rem, -14.5rem);
    // background: var(--white_2);
    // position: relative;
    // right: 2rem;
    // bottom: -13.5rem;

    &::before {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      transform: rotate(225deg);
      content: "";
      width: 1rem;
      height: 1rem;
      border-style: solid;
      border-color: var(--black_2);
      border-width: 0 0.3rem 0.3rem 0;
    }
    

    &--active {
      position: absolute;
      height: 13rem;
      bottom: -10rem;
      background: #F5F5F5;
      width: 100%;
      left: 0;
      opacity: 1;
      overflow: auto;
      padding: 1rem 4rem 3.8rem 2rem;
      margin-bottom: 4rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      @media (min-width: 1024px) {
        bottom: -13rem;
      }

      // height: auto;
      // overflow: auto;
      // opacity: 1;
      // width: 36rem;
      // background: var(--white_2);
      // position: relative;
      // right: 2rem;
      // padding: 1rem 1rem 1rem 2rem;
      // // bottom: -13.5rem;
      // bottom: -7.5rem;

      p {
        width: 31rem;
      }
    }
  }
}