section.services-stages
  .container 
    h2 #[span.red Этапы] градостроительного анализа
    .services-stages__inner
      .services-stages__cards.accordion-stages
        .accordion__stage
          .accordion__stage-text
            h3.accordion__stage-title Общественные пространства
            p Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
          .accordion__stage-content
            | Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage
          .accordion__stage-text
            h3.accordion__stage-title Общественные пространства
            p Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
          .accordion__stage-content
            | Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage
          .accordion__stage-text
            h3.accordion__stage-title Общественные пространства
            p Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
          .accordion__stage-content
            | Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage
          .accordion__stage-text
            h3.accordion__stage-title Общественные пространства
            p Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
          .accordion__stage-content
            | Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage
          .accordion__stage-text
            h3.accordion__stage-title Общественные пространства
            p Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
          .accordion__stage-content
            | Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage
          .accordion__stage-text
            h3.accordion__stage-title Общественные пространства
            p Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
          .accordion__stage-content
            | Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
