section.services-stages
  .container 
    h2 #[span.red Этапы] градостроительного анализа
    .services-stages__inner
      .services-stages__cards.accordion-stages
        .accordion__stage
          h3.accordion__stage-title Общественные пространства
          p.accordion__stage-text Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
          .accordion__stage-content
      .accordion__stage
        h3.accordion__stage-title Общественные пространства
        p.accordion__stage-text Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage-content
      .accordion__stage
        h3.accordion__stage-title Общественные пространства
        p.accordion__stage-text Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage-content
      .accordion__stage
        h3.accordion__stage-title Общественные пространства
        p.accordion__stage-text Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage-content
      .accordion__stage
        h3.accordion__stage-title Общественные пространства
        p.accordion__stage-text Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage-content
      .accordion__stage
        h3.accordion__stage-title Общественные пространства
        p.accordion__stage-text Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage-content