section.services-stages
  .container 
    h2 #[span.red Этапы] градостроительного анализа
    .services-stages__inner
      .services-stages__cards
        .accordion__stage.active
          .services-stages__card-wrap
            .services-stages__car-img 
              img(src="assets/img/stage.jpg" width="360" height="230" alt="" loading="lazy")
            .services-stages__card-text
              h3 Изучение Генерального плана застройки
              p.services-stages__card-txt Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage.active
          .services-stages__card-wrap
            .services-stages__car-img 
              img(src="assets/img/stage.jpg" width="360" height="230" alt="" loading="lazy")
            .services-stages__card-text
              h3 Изучение Генерального плана застройки
              p.services-stages__card-txt Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage.active
          .services-stages__card-wrap
            .services-stages__car-img 
              img(src="assets/img/stage.jpg" width="360" height="230" alt="" loading="lazy")
            .services-stages__card-text
              h3 Изучение Генерального плана застройки
              p.services-stages__card-txt Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage.active
          .services-stages__card-wrap
            .services-stages__car-img 
              img(src="assets/img/stage.jpg" width="360" height="230" alt="" loading="lazy")
            .services-stages__card-text
              h3 Изучение Генерального плана застройки
              p.services-stages__card-txt Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage.active
          .services-stages__card-wrap
            .services-stages__car-img 
              img(src="assets/img/stage.jpg" width="360" height="230" alt="" loading="lazy")
            .services-stages__card-text
              h3 Изучение Генерального плана застройки
              p.services-stages__card-txt Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.
        .accordion__stage.active
          .services-stages__card-wrap
            .services-stages__car-img 
              img(src="assets/img/stage.jpg" width="360" height="230" alt="" loading="lazy")
            .services-stages__card-text
              h3 Изучение Генерального плана застройки
              p.services-stages__card-txt Мы учитываем, какие объекты появятся рядом в ближайшие годы, рассчитывая пешеходный и транспортный трафик.