//- .breadcrumbs
//-   .breadcrumbs__item 
//-     .breadcrumbs__link 
//-       a(href="index.html") Home 
//-     span.breadcrumbs-slash / 
//-     a(href="index.html") JavaScript 
//-     span.breadcrumbs-slash / 
//-     span Как клонировать объект или массив в JavaScript