section.goal 
  .container 
    .goal__inner
      .goal__inner-img
        //- img(src="assets/img/goal-bg.jpg" width="1160" height="450" alt="")
        .goal__inner-text Наша цель – формировать новое качество жизни. Придавать облик современного времени. Дарить положительные эмоции людям.