section.blog-top
  .container 
    .blog-top__inner 
      .breadcrumbs
        .breadcrumbs__item 
          .breadcrumbs__link 
            a(href="index.html") Главная 
          span.breadcrumbs-slash / Публикации в СМИ
    h1 Публикации в СМИ
    .blog-top__inner-texts
      p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
        | текстов на латинице с начала XVI века.
      p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
        | текстов на латинице с начала XVI века.