section.projects-top
  .container 
    .breadcrumbs
      .breadcrumbs__item 
        .breadcrumbs__link 
          a(href="index.html") Главная 
        span.breadcrumbs-slash / Проекты
    .projects-top__inner 
      h1 #[span.red Наши] реализованние проекты
      p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов 
        | на латинице с начала XVI века.
