section.geography 
  .container 
    .geography__inner 
      .geography__inner-left
        .geography__inner-text 
          h2 География #[span.red проектов]
          p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" 
            | для текстов на латинице с начала XVI века.
        .geography__inner-cards
          .card
            .card__top
              span 500+
              img(src="assets/img/icons/geography-icon_1.svg" width="40" height="40" alt="") 
            .card__bottom
              span гектар 
                |
                br
                | площадь проектов
          .card
            .card__top
              span 30
              img(src="assets/img/icons/geography-icon_2.svg" width="40" height="40" alt="") 
            .card__bottom
              span городов
        button.btn.btn--black.geography__inner-btn Галерея проектов
      .geography__inner-right
        .geography__inner-right__img
          img(src="assets/img/map.png" width="560" height="530" alt="")
          .location-desc__wrap
            img(src="assets/img/location_desc.png" width="224" height="260" alt="").location-desc
            p Тимоховский пруд и кинотеатр Искра г. Видное
            .location-desc__img
              img(src="assets/img/location_img_1.png" width="224" height="260" alt="").location-img
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="").location.location-1
