section.geography 
  .container 
    .geography__inner 
      .geography__inner-left
        .geography__inner-text 
          h2 География #[span.red проектов]
          p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" 
            | для текстов на латинице с начала XVI века.
        .geography__inner-cards
          .card
            span 500+
            img(src="assets/img/icons/geography-icon_1.svg" width="40" height="40" alt="" loading="lazy") 
            .card__bottom
              span гектар 
                |
                br
                | площадь проектов
          .card
            span 30
            img(src="assets/img/icons/geography-icon_2.svg" width="40" height="40" alt="" loading="lazy") 
            .card__bottom
              span городов
        button.btn.btn--black.geography__inner-btn Галерея проектов
      .geography__inner-right
        .geography__inner-right__img
          img(src="assets/img/map.png" width="560" height="530" alt="" loading="lazy")
          .location-desc__wrap
            img(src="assets/img/geography_2.png" width="224" height="260" alt="" loading="lazy").location-desc
            //- p Тимоховский пруд и кинотеатр Искра г. Видное
            //- .location-desc__img
            //-   img(src="assets/img/location_img_1.png" width="224" height="260" alt="" loading="lazy").location-img
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-1
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-2
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-3
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-4
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-5
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-6
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-7
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-8
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-9
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-10
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-11
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-12
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-13
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-14
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-15
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-16
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-17
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-18
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-19
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-20
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-21
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-22
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-23
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-24
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-25
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-26
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-27
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-28
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-29
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-30
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-31
          img(src="assets/img/icons/location_1.svg" width="24" height="24" alt="" loading="lazy").location.location-32

