footer.footer
  .container 
    .footer__inner
      .footer__inner-left 
        .logo
          a(href="index.html")
            img(src="assets/img/logo-white.png" width="220" height="12" alt="Логотип MirrorGroup" loading="lazy")
        nav.nav.nav__footer
          ul(role="menu").menu.menu-footer
            li(role="menuitem").menu-footer-item
              a(href="index.html").menu-footer-item-link.menu-footer-item-link--active Главная
            li(role="menuitem").menu-footer-item
              a(href="#price").menu-footer-item-link Статьи
            li(role="menuitem").menu-footer-item
              a(href="projects.html").menu-footer-item-link Услуги
            li(role="menuitem").menu-footer-item
              a(href="services.html").menu-footer-item-link Награды и премии
            li(role="menuitem").menu-footer-item
              a(href="awards.html").menu-footer-item-link Проекты
            li(role="menuitem").menu-footer-item
              a(href="news.html").menu-footer-item-link Публикации в сми
            li(role="menuitem").menu-footer-item
              a(href="articles.html").menu-footer-item-link О компании
            li(role="menuitem").menu-footer-item
              a(href="#photo").menu-footer-item-link Контакты
      .footer__inner-right
        include ./../../bem-blocks/phone/phone.pug
        span Заказать обратный звонок
        button.btn.footer__inner-btn Обратный звонок
    span.copyright © Архитектурная мастерская