footer.footer
  .container 
    .footer__inner
      .footer__inner-left 
        .logo
          a(href="index.html")
            img(src="assets/img/logo-white.png" width="220" height="12" alt="Логотип MirrorGroup" loading="lazy")
        nav.nav.nav__footer
          ul(role="menu")
            ul(role="menu")
              li(role="menuitem").nav__item
                a(href="index.html").nav__item-link.nav__item-link--active Главная
              li(role="menuitem").nav__item
                a(href="#price").nav__item-link О компании
              li(role="menuitem").nav__item
                a(href="#reviews").nav__item-link Проекты
              li(role="menuitem").nav__item
                a(href="#photo").nav__item-link Услуги
              li(role="menuitem").nav__item
                a(href="#services").nav__item-link Награды и премии
              li(role="menuitem").nav__item
                a(href="news.html").nav__item-link Публикации в сми
              li(role="menuitem").nav__item
                a(href="articles.html").nav__item-link Статьи
              li(role="menuitem").nav__item
                a(href="#photo").nav__item-link Контакты
      .footer__inner-right
        include ./../../bem-blocks/phone/phone.pug
        span Заказать обратный звонок
        button.btn.footer__inner-btn Обратный звонок
    span.copyright © Архитектурная мастерская