section.project-desc.project-desc-offer
  .container
    .project-desc__inner.project-desc__inner-offer
      .project-desc__inner-title.project-desc__inner-title-offer
        h2 #[span.red Проектные] 
          |
          br
          | предложения
      .project-desc__tabs
        .tabs
          .project-desc__tabs-wrap
            button.btn.tab Прогулочные маршруты сквозь лесной масив
            button.btn.tab Пирсы и площадки для рыбной ловли
          .project-desc__tabs-wrap
            button.btn.tab Прогулочные маршруты и видовые площадки вдоль береговой линии
            button.btn.tab Организация пляжного отдыха
        //- .project-desc__tabs-wrap
        //-   .project-desc__tab Прогулочные маршруты сквозь лесной масив
        //-   .project-desc__tab Пирсы и площадки для рыбной ловли
        //- .project-desc__tabs-wrap
        //-   .project-desc__tab Прогулочные маршруты и видовые площадки вдоль береговой линии
        //-   .project-desc__tab Организация пляжного отдыха
    .project-desc__content-wrap.tab-content.tab-content--active 
      .project-desc__content.project-desc__content-offer
        img(src="assets/img/project-offer.png" width="900" height="564" alt="" loading="lazy")
      .project-desc__text-offer 
        P Выделенная для проектирования территория берет свое начало около бывших офицерских корпусов «Выстрел» и является продолжением 
          | выполненной второй очереди благоустройства. У реализованной ранее детской площадки начинается разветвленная сеть прогулочных дорожек, 
          | выполненных из гранитного отсева. Северная часть дорожек максимально близко подходит к водному объекту и дает начало деревянным 
          | настилам и пирсам, обеспечивающим выход к водной глади и естественно образованным песчаным бухтам. Южная часть дороги имеет 
          | техническое назначение-проезд вдоль ограждения с выездом на существующую проезжую часть ул. Военный городок. Данная дорога 
          | предназначена для обслуживания зоны с туалетными модулями, площадкой для сбора ТБО.
        P Вблизи существующего кирпичного здания прогулочная дорожка переходит в конструкцию из деревянных настилов, имеющую отметку выше 
          | существующей поверхности земли. Такая конструкция позволит максимального сохранить естественный рельефа и флору территории, а 
          | также дает возможность соединить западную и восточную часть набережной, разрозненную из-за заболоченного оврага. На протяжении всей 
          | конструкции в особенно живописных местах устраиваются лестничные сходы на естественный рельеф, места для тихого отдыха, два 
          | наблюдательных пункта-вышки, оборудованных биноклями и пирсы-амфитетры для принятия солнечных ванн.
    .project-desc__content-wrap.tab-content  
      .project-desc__content.project-desc__content-offer
        img(src="assets/img/project-offer.png" width="900" height="564" alt="" loading="lazy")
      .project-desc__text-offer 
        P Выделенная для проектирования территория берет свое начало около бывших офицерских корпусов «Выстрел» и является продолжением 
          | выполненной второй очереди благоустройства. У реализованной ранее детской площадки начинается разветвленная сеть прогулочных дорожек, 
          | выполненных из гранитного отсева. Северная часть дорожек максимально близко подходит к водному объекту и дает начало деревянным 
          | настилам и пирсам, обеспечивающим выход к водной глади и естественно образованным песчаным бухтам. Южная часть дороги имеет 
          | техническое назначение-проезд вдоль ограждения с выездом на существующую проезжую часть ул. Военный городок. Данная дорога 
          | предназначена для обслуживания зоны с туалетными модулями, площадкой для сбора ТБО.
        P Вблизи существующего кирпичного здания прогулочная дорожка переходит в конструкцию из деревянных настилов, имеющую отметку выше 
          | существующей поверхности земли. Такая конструкция позволит максимального сохранить естественный рельефа и флору территории, а 
          | также дает возможность соединить западную и восточную часть набережной, разрозненную из-за заболоченного оврага. На протяжении всей 
          | конструкции в особенно живописных местах устраиваются лестничные сходы на естественный рельеф, места для тихого отдыха, два 
        | наблюдательных пункта-вышки, оборудованных биноклями и пирсы-амфитетры для принятия солнечных ванн.
    .project-desc__content-wrap.tab-content  
      .project-desc__content.project-desc__content-offer
        img(src="assets/img/project-offer.png" width="900" height="564" alt="" loading="lazy")
      .project-desc__text-offer 
        P Выделенная для проектирования территория берет свое начало около бывших офицерских корпусов «Выстрел» и является продолжением 
          | выполненной второй очереди благоустройства. У реализованной ранее детской площадки начинается разветвленная сеть прогулочных дорожек, 
          | выполненных из гранитного отсева. Северная часть дорожек максимально близко подходит к водному объекту и дает начало деревянным 
          | настилам и пирсам, обеспечивающим выход к водной глади и естественно образованным песчаным бухтам. Южная часть дороги имеет 
          | техническое назначение-проезд вдоль ограждения с выездом на существующую проезжую часть ул. Военный городок. Данная дорога 
          | предназначена для обслуживания зоны с туалетными модулями, площадкой для сбора ТБО.
        P Вблизи существующего кирпичного здания прогулочная дорожка переходит в конструкцию из деревянных настилов, имеющую отметку выше 
          | существующей поверхности земли. Такая конструкция позволит максимального сохранить естественный рельефа и флору территории, а 
          | также дает возможность соединить западную и восточную часть набережной, разрозненную из-за заболоченного оврага. На протяжении всей 
          | конструкции в особенно живописных местах устраиваются лестничные сходы на естественный рельеф, места для тихого отдыха, два 
          | наблюдательных пункта-вышки, оборудованных биноклями и пирсы-амфитетры для принятия солнечных ванн.
    .project-desc__content-wrap.tab-content  
      .project-desc__content.project-desc__content-offer
        img(src="assets/img/project-offer.png" width="900" height="564" alt="" loading="lazy")
      .project-desc__text-offer 
        P Выделенная для проектирования территория берет свое начало около бывших офицерских корпусов «Выстрел» и является продолжением 
          | выполненной второй очереди благоустройства. У реализованной ранее детской площадки начинается разветвленная сеть прогулочных дорожек, 
          | выполненных из гранитного отсева. Северная часть дорожек максимально близко подходит к водному объекту и дает начало деревянным 
          | настилам и пирсам, обеспечивающим выход к водной глади и естественно образованным песчаным бухтам. Южная часть дороги имеет 
          | техническое назначение-проезд вдоль ограждения с выездом на существующую проезжую часть ул. Военный городок. Данная дорога 
          | предназначена для обслуживания зоны с туалетными модулями, площадкой для сбора ТБО.
        P Вблизи существующего кирпичного здания прогулочная дорожка переходит в конструкцию из деревянных настилов, имеющую отметку выше 
          | существующей поверхности земли. Такая конструкция позволит максимального сохранить естественный рельефа и флору территории, а 
          | также дает возможность соединить западную и восточную часть набережной, разрозненную из-за заболоченного оврага. На протяжении всей 
          | конструкции в особенно живописных местах устраиваются лестничные сходы на естественный рельеф, места для тихого отдыха, два 
          | наблюдательных пункта-вышки, оборудованных биноклями и пирсы-амфитетры для принятия солнечных ванн.
