section.activity
  .container
    h2 Деятельность
    .activity__inner
      .activity__inner-left 
        p Архитектурная компания Mirror Group осуществляет деятельностьв области благоустройства общественных территорий. Мы обладаем 
          | огромным опытом работы в проектировании общественных, городских и коммерческих объектов. В процессе разработки проекта мы 
          | предлагаем многогранные архитектурные решения, уделяем особое внимание деталям, которые становятся отличительными чертами территории.
      .activity__inner-right
        p Применение знаний российской и международной практикив области архитектуры, дизайна и инженерных решений позволяет реализовывать 
          | идеи как на уровне государственных заказов, таки для коммерческого сектора, понимая его задачи и потребности. Комплексный подход 
          | к благоустройству способствует заинтересованности людей в многократном посещении территории, что оказывает положительное влияние на 
          | экономическоеи социальное развитие города