section.blog-center
  .container 
    .blog-center__inner.blog-center__inner-awards
      .blog-center__inner-tabs
        button.btn.blog-center__inner-tab.blog-center__inner-tab__awards.blog-center__inner-tab--active 2018
        button.btn.blog-center__inner-tab.blog-center__inner-tab__awards 2019
        button.btn.blog-center__inner-tab.blog-center__inner-tab__awards 2020
        button.btn.blog-center__inner-tab.blog-center__inner-tab__awards 2021
        button.btn.blog-center__inner-tab.blog-center__inner-tab__awards 2022
        button.btn.blog-center__inner-tab.blog-center__inner-tab__awards 2023
    .line
    .awards-cards
      article.awards-card 
        .awards-card__inner
          img(src="assets/img/awards-1.jpg" width="160" height="226" alt="" loading="lazy")
          p Благоустройство исторической части города Сергиева ПосадаСеребреный диплом в номинации, «Реализованные проекты сохранения 
            | и развития градостроительных образовании садово-паркового искусства, создания новой жизни в исторических поселениях»
      article.awards-card 
        .awards-card__inner
          img(src="assets/img/awards-2.jpg" width="160" height="226" alt="" loading="lazy")
          p Парк «Пехорка» г. Балашиха Бронзовый призер в номинации, «Лучший общественный реализованный объект площадью более 1 Га.