section.seo-text
  .container 
    .seo-text__inner
      h2 Сео текст
      .seo-text__inner-text
        p Архитектурная компания Mirror Group осуществляет деятельность в области благоустройства общественных территорий. Мы обладаем 
          | огромным опытом работы в проектировании общественных, городских и коммерческих объектов. В процессе разработки проекта мы 
          | предлагаем многогранные архитектурные решения, уделяем особое внимание деталям, которые становятся отличительными чертами территории.
        p Применение знаний российской и международной практики в области архитектуры, дизайна и инженерных решений позволяет реализовывать 
          | идеи как на уровне государственных заказов, таки для коммерческого сектора, понимая его задачи и потребности. Комплексный подход 
          | к благоустройству способствует заинтересованности людей в многократном посещении территории, что оказывает положительное 
          | влияние на экономическое и социальное развитие города
      .seo-text__inner-img
        img(src="assets/img/goal-bg.jpg" width="1160" height="450" alt="")