section.activity-services
  .container 
    .breadcrumbs
      .breadcrumbs__item 
        .breadcrumbs__link 
          a(href="index.html") Главная 
        span.breadcrumbs-slash / Услуги 
    h1 #[span.red Услуги по благоустройству] городских территорий
    .activity-services__inner 
      .activity-services__inner-left 
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
          | текстов на латинице с начала XVI века.
      .activity-services__inner-right
        p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
          | текстов на латинице с начала XVI века.
    .activity-services__inner-btns 
      button.btn.btn--black Проектирование
      a(href="#!").btn.btn--white Строительство
    .landscaping-services__inner-bottom.landscaping-services__inner-bottom__activity
      .service.service--small
        .service__img
          img(src="assets/img/service-1.png" width="230" height="145" alt="" loading="lazy")
        h3 Согласование проектно-сметной документации
      .service.service--small
        .service__img
          img(src="assets/img/service-2.png" width="230" height="145" alt="" loading="lazy")
        h3 Инженерные изыскания
      .service.service--small
        .service__img
          img(src="assets/img/service-3.png" width="230" height="145" alt="" loading="lazy")
        h3 Инженерные изыскания
      .service.service--small
        .service__img
          img(src="assets/img/service-4.png" width="230" height="145" alt="" loading="lazy")
        h3 Инженерные изыскания
      .service.service--small
        .service__img
          img(src="assets/img/service-5.png" width="230" height="145" alt="" loading="lazy")
        h3 Согласование проектно-сметной документации
      .service.service--small
        .service__img
          img(src="assets/img/service-6.png" width="230" height="145" alt="" loading="lazy")
        h3 Инженерные изыскания
      .service.service--small
        .service__img
          img(src="assets/img/service-7.png" width="230" height="145" alt="" loading="lazy")
        h3 Согласование проектно-сметной документации
      .service.service--small
        .service__img
          img(src="assets/img/service-8.png" width="230" height="145" alt="" loading="lazy")
        h3 Инженерные изыскания
      .service.service--small
        .service__img
          img(src="assets/img/service-5.png" width="230" height="145" alt="" loading="lazy")
        h3 Согласование проектно-сметной документации
      .service.service--small
        .service__img
          img(src="assets/img/service-6.png" width="230" height="145" alt="" loading="lazy")
        h3 Инженерные изыскания
      .service.service--small
        .service__img
          img(src="assets/img/service-7.png" width="230" height="145" alt="" loading="lazy")
        h3 Согласование проектно-сметной документации
      .service.service--small
        .service__img
          img(src="assets/img/service-8.png" width="230" height="145" alt="" loading="lazy")
        h3 Инженерные изыскания
