section.project-desc 
  .container
    .project-desc__inner 
      .project-desc__inner-title 
        h2 #[span.red Описание] 
          |
          br
          | проекта
      .project-desc__inner-text
        .project-desc__inner-text-subtitle
          p Функция дизайна и благоустройства в данном проекте – единение и растворение в среде, акцентирование на спокойствие воды.
        .project-desc__inner-text-blocks.project-desc__inner-text-blocks-2
          p В первую очередь, необходимо отметить, что проектом не предлагалось многофункциональное масштабное благоустройство набережной, 
            | в данном случае это нецелесообразно. Проектом предусмотрено устройство пространства для прогулок вдоль озера с функцией 
            | «успокоения» современного человека путем соприкосновения со спокойной и уравновешенной природой, наслаждение панорамами живописного озера.