section.services-analysis
  .container 
    h2 Зачем нужен #[span.red градостроительный анализ] территории
    .services-analysis__inner
      p Комплексному благоустройству всегда предшествуют предпроектные работы и исследования. Они способствуют выявлению достоинств и 
        | слабых сторон местности. На основе полученных данных формируется список мероприятий для модернизации с оптимальными вариантами 
        | использования земли.
      p Методы градостроительного анализа позволяют продумать интересную концепцию благоустройства, выполнить функциональное зонирование, 
        | получив отклик различных социальных групп населения.