.history {
  padding: 4rem 0 12rem 0;

  @media (min-width: 1024px) {
    padding: 7.5rem 0;
  }

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-text {
      width: 100%;

      @media (min-width: 1024px) {
        // width: 46%;
        width: 46%;
        max-width: 56rem;
      }

      @media (min-width: 1440px) {
        width: 50%;
        max-width: 56rem;
      }

      h2 {
        max-width: 29.8rem;
        margin-bottom: 4rem;

        // @media (min-width: 375px) {
        //   max-width: 48.8rem;
        // }

        @media (min-width: 1024px) {
          max-width: 48.8rem;
          margin-bottom: 6rem;
        }
      }

      p {
        // @include InterRegular();
        font-size: 1.6rem;
        line-height: 130.02%;
        color: var(--black_1);
      }

      p:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      p:last-of-type {
        margin-bottom: 5.1rem;

        @media (min-width: 1024px) {
          margin-bottom: 4rem;
        }
      }
    }

    &-cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 650px) {
        max-width: 61.4rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
      }

      @media (min-width: 900px) {
        align-items: stretch;
        justify-content: space-between;
      }
  
      @media (min-width: 1024px) {
        width: 53%;
        // width: 50%;
        max-width: 56rem;
        flex-direction: row;
        flex-wrap: wrap;
      }

      @media (min-width: 1440px) {
        width: 50%;
      }
      
      .card {
        margin-bottom: 2rem;

        &:nth-child(odd) {

          @media (min-width: 550px) {
            margin-right: 0.5rem;
          }
  
          @media (min-width: 900px) {
            margin-right: 0;
          }
  
          @media (min-width: 1440px) {
            margin-right: 4rem;
          }
        }
      }
    }

    &-btn {
      position: absolute;
      bottom: -8rem;
      width: 28rem;
      left: 50%;
      font-size: 1.6rem;
      line-height: 1.9rem;
      transform: translateX(-50%);
      padding: 2.2rem 0;

      @media (min-width: 375px) {
        width: 30rem;
      }

      @media (min-width: 1024px) {
        position: static;
        transform: translateX(0);
        padding: 2.2rem 5.39rem;
      }
    }
  }
}