section.history 
  .container 
    .history__inner 
      .history__inner-text
        h2 Компания Mirror Group #[span.red берет своё начало] в 2011 году
        p Первыми работами стали архитектурно-художественные решения для компаний стрит-ритейла и ресторанной индустрии. 
          | В 2014 году область деятельности расширилась.
        p Мы освоили новые направления, среди них разработка проектов капитального строительства коммерческих площадей и объектов 
          | социального назначения. В этом же году начали появляться первые проекты по благоустройству.
        button.btn.btn--black.history__inner-btn Подробнее о компании
      .history__inner-cards
        .card
          span 10
          img(src="assets/img/icons/history-icon_1.svg" width="40" height="40" alt="" loading="lazy") 
          .card__bottom
            span лет непрерывного 
              |
              br
              | развития
        .card
          span 40
          img(src="assets/img/icons/history-icon_2.svg" width="40" height="40" alt="" loading="lazy") 
          .card__bottom
            span единомышлеников в составе компании
        .card
          span 20+
          img(src="assets/img/icons/history-icon_3.svg" width="40" height="40" alt="" loading="lazy") 
          .card__bottom
            span городов с реализованными проектами
        .card
          span 80+
          img(src="assets/img/icons/history-icon_4.svg" width="40" height="40" alt="" loading="lazy") 
          .card__bottom
            span масштабных 
              |
              br
              | проектов
        .card
          span 4+
          img(src="assets/img/icons/history-icon_5.svg" width="40" height="40" alt="" loading="lazy") 
          .card__bottom
            span млн. ежегодных посещений территорий
        .card
          span 7
          img(src="assets/img/icons/history-icon_6.svg" width="40" height="40" alt="" loading="lazy") 
          .card__bottom
            span млрд р сумма реализованных проектов