section.other-projects 
  .container 
    .other-projects__top
      h2 #[span.red Другие] проекты
      //- .swiper-slider-arrows 
      //-   .arrow__left &#8592;
      //-   .arrow__right &#8594;
    .swiper.projectsSlider
      .swiper-wrapper
        .swiper-slide 
          img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
          h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .swiper-slide 
          img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
          h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .swiper-slide  
          img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
          h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .swiper-slide 
          img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
          h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .swiper-slide  
          img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
          h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .swiper-slide  
          img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
          h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .swiper-pagination