section.other-projects 
  .container 
    .other-projects__top
      h2 #[span.red Другие] проекты
      .slider-arrows 
        .arrow__left &#8592;
        .arrow__right &#8594;
    .other-projects__slider
      .slide
        img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
        h3 Тимоховский пруд и кинотеатр Искраг. Видное
        .slide__info 
          .slide__info-item 
            img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
            span 2019
          .slide__info-item 
            img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
            span Реализован
          .slide__info-item 
            img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
            span 5,41 Га
      .slide 
        img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
        h3 Тимоховский пруд и кинотеатр Искраг. Видное
        .slide__info 
          .slide__info-item 
            img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
            span 2019
          .slide__info-item 
            img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
            span Реализован
          .slide__info-item 
            img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
            span 5,41 Га
      .slide 
        img(src="assets/img/slide-1.png" width="340" height="200" alt="" loading="lazy")
        h3 Тимоховский пруд и кинотеатр Искраг. Видное
        .slide__info 
          .slide__info-item 
            img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
            span 2019
          .slide__info-item 
            img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
            span Реализован
          .slide__info-item 
            img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
            span 5,41 Га