.header {

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-top {
      padding: 2rem 1rem;
      position: relative;
      z-index: 2000;
      background: var(--white_1);

      @media (min-width: 1024px) {
        position: static;
        padding: 2rem 0;
        background: transparent;
        border-bottom: 0.1rem solid var(--gray_1);
      }

      .logo {
        max-width: 16rem;
      }
    }

    &-top,
    &-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .str-run {
    position: relative;
    width: 19rem;
    height: 4.4rem;
    margin: -1rem auto 0 auto;
    overflow: hidden;
    border: 0.1rem solid var(--red_1);
    border-radius: 5rem;
    white-space: nowrap;
    cursor: pointer;

    @media (min-width: 1024px) {
      margin: 0;
    }

    p {
      display: block;
      position: absolute;
      top: 1.2rem;
      left: -122%;
      white-space: nowrap;
      padding: 0;
      will-change: left;

      span {

        &:not(:nth-of-type(3)) {
          opacity: 0;
        }
      }
    }

    &--animationto {
      p {
        animation: btnstrin 10s infinite linear;
      }
    }

    &--animationback {
      p {
        animation: btnstrin 10s infinite linear reverse;
      }
    }

    &:hover,
    &:focus {

      p {
        animation: moveText 10s infinite linear;
        transition: transform 0.3s ease-out;

        span {
          opacity: 1;
        }
      }
    }
  }

  &__btn--desktop {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: var(--black_1);
      background: transparent;
    }
  }

  &__btn--mobile {
    display: block;
    align-self: center;
    margin-top: 8.1rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--black_1);
    border: 0.1rem solid var(--red_1);
    background: transparent;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}


@keyframes moveText {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(0);
  }
}
