header.header 
  .container 
    .header__inner
      .header__inner-top
        include ../../bem-blocks/logo/logo.pug
        button.btn.header__btn.header__btn--desktop Обратный звонок
        include ../../bem-blocks/burger/burger.pug
      .header__inner-bottom
        include ../../bem-blocks/nav/nav.pug