header.header 
  .container 
    .header__inner
      .header__inner-top
        include ../../bem-blocks/logo/logo.pug
        .str-run.header__btn--desktop
          p.btn.header__btn
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
        include ../../bem-blocks/burger/burger.pug
      .header__inner-bottom
        nav.nav.nav__header
          ul(role="menu").menu
            li(role="menuitem").menu-item 
              a(href="index.html").menu-item-link.menu-item-link--active Главная
            li(role="menuitem").menu-item 
              a(href="#price").menu-item-link О компании
            li(role="menuitem").menu-item 
              a(href="projects.html").menu-item-link Проекты
            li(role="menuitem").menu-item 
              a(href="services.html").menu-item-link Услуги
              ul.sub-menu
                li
                  a(href="production-structure.html") Проектирование
                li
                  a(href="production-process.html") Строительство
            li(role="menuitem").menu-item 
              a(href="awards.html").menu-item-link Награды и премии
            li(role="menuitem").menu-item 
              a(href="news.html").menu-item-link Публикации в сми
            li(role="menuitem").menu-item 
              a(href="articles.html").menu-item-link Статьи
            li(role="menuitem").menu-item 
              a(href="#photo").menu-item-link Контакты
          .str-run.header__btn--mobile
            p.btn.header__btn 
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;