header.header 
  .container 
    .header__inner
      .header__inner-top
        include ../../bem-blocks/logo/logo.pug
        .str-run.header__btn--desktop
          p.btn.header__btn
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
        include ../../bem-blocks/burger/burger.pug
      .header__inner-bottom
        nav.nav.nav__header
          ul(role="menu")
            li(role="menuitem").nav__item
              a(href="#services").nav__item-link.nav__item-link--active Главная
            li(role="menuitem").nav__item
              a(href="#price").nav__item-link О компании
            li(role="menuitem").nav__item
              a(href="#reviews").nav__item-link Проекты
            li(role="menuitem").nav__item
              a(href="#photo").nav__item-link Услуги
            li(role="menuitem").nav__item
              a(href="#services").nav__item-link Награды и премии
            li(role="menuitem").nav__item
              a(href="#price").nav__item-link Публикации в сми
            li(role="menuitem").nav__item
              a(href="#reviews").nav__item-link Статьи
            li(role="menuitem").nav__item
              a(href="#photo").nav__item-link Контакты
          .str-run.header__btn--mobile
            p.btn.header__btn 
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;
              span Обратный звонок &ensp;