header.header 
  .container 
    .header__inner
      .header__inner-top
        include ../../bem-blocks/logo/logo.pug
        .str-run.header__btn--desktop
          p.btn.header__btn
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
            span Обратный звонок &ensp;
        include ../../bem-blocks/burger/burger.pug
      .header__inner-bottom
        .nav-wrap
          nav.nav.nav__header
            ul(role="menu").menu-header
              li(role="menuitem").menu-header-item
                a(href="index.html").menu-header-item-link.menu-header-item-link--active Главная
              li(role="menuitem").menu-header-item  
                a(href="#price").menu-header-item-link О компании
              li(role="menuitem").menu-header-item  
                a(href="projects.html").menu-header-item-link Проекты
              li(role="menuitem").menu-header-item.menu-header-item__submenu
                a(href="services.html").menu-header-item-link.menu-header-item-link__submenu Услуги
                ul.sub-menu
                  li
                    a(href="production-structure.html") Проектирование
                  li
                    a(href="production-process.html") Строительство
              li(role="menuitem").menu-header-item  
                a(href="awards.html").menu-header-item-link Награды и премии
              li(role="menuitem").menu-header-item  
                a(href="news.html").menu-header-item-link Публикации в сми
              li(role="menuitem").menu-header-item  
                a(href="articles.html").menu-header-item-link Статьи
              li(role="menuitem").menu-header-item  
                a(href="#photo").menu-header-item-link Контакты
            .str-run.header__btn--mobile
              p.btn.header__btn 
                span Обратный звонок &ensp;
                span Обратный звонок &ensp;
                span Обратный звонок &ensp;
                span Обратный звонок &ensp;
                span Обратный звонок &ensp;
                span Обратный звонок &ensp;