header.header 
  .container 
    .header__inner
      .header__inner-top
        include ../../bem-blocks/logo/logo.pug
        button.btn.header__btn Обратный звонок
      .header__inner-bottom
        include ../../bem-blocks/nav/nav.pug