.landscaping {
  padding: 4rem 0 0 0;

  @media (min-width: 1024px) {
    padding: 4.3rem 0 26.5rem 0;
  }


  h1 {
    margin-bottom: 12rem;

    @media (min-width: 1024px) {
      margin-bottom: 6rem;
    }
  }

  &__top,
  &__center,
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__center {
    justify-content: center;

    img {

      &:nth-of-type(1) {
        width: 9.5rem;
        height: 13.5rem;
        transform: translate(-2rem, -6rem);

        @media (min-width: 1024px) {
          width: 18.7rem;
          height: 26.5rem;
          margin-right: 19.7rem;
          transform: translate(0, 0);
        }
      }

      &:nth-of-type(2) {
        width: 7rem;
        height: 9.9rem;
        transform: translateY(4rem);

        @media (min-width: 1024px) {
          width: 15.3rem;
          height: 21.7rem;
          transform: translate(0, 8rem);
        }
      }
    }
  }

  &__bottom {
    height: 27rem;

    img {

      &:nth-of-type(2) {
        align-self: flex-end;
      }

      &:nth-of-type(1),
      &:nth-of-type(3) {
        align-self: flex-start;
      }

      &:nth-of-type(1) {
        width: 9.8rem;
        height: 7.9rem;
        transform: translateX(1rem);

        @media (min-width: 1024px) {
          width: 25.6rem;
          height: 20.7rem;
          transform: translate(0, 0);
        }
      }

      &:nth-of-type(2) {
        width: 14.8rem;
        height: 10.5rem;
        transform: translate(-5rem, -5rem);

        @media (min-width: 1024px) {
          width: 30.4rem;
          height: 21.6rem;
          transform: translate(0rem, 19rem);
        }
      }

      &:nth-of-type(3) {
        width: 7.6rem;
        height: 13.7rem;
        // transform: translate(-5rem, 2rem);
        transform: translate(-2rem, 2rem);

        @media (min-width: 1024px) {
          width: 16.7rem;
          height: 30.1rem;
          transform: translate(0, 0);
        }
      }
    }
  }

  &__top {
    position: relative;

    @media (min-width: 1024px) {
      position: static;
    }

    img  {
      transform: translateY(-2.3rem);
      width: 9.6rem;
      height: 9.6rem;

      @media (min-width: 1024px) {
        width: 22.6rem;
        height: 22.6rem;  
      }
    }

    // img {

    //   &:nth-of-type(1) {
    //     transform: translateY(-2.3rem);
    //     width: 9.6rem;
    //     height: 9.6rem;

    //     @media (min-width: 1024px) {
    //       width: 22.6rem;
    //       height: 22.6rem;
    //       transform: translate(0, 0);
    //     }
    //   }

    //   &:nth-of-type(1) {
    //     width: 9.6rem;
    //     height: 9.6rem;

    //     @media (min-width: 1024px) {
    //       width: 22.6rem;
    //       height: 22.6rem;
    //     }
    //   }

    //   &:nth-of-type(2) {
    //     width: 9.7rem;
    //     height: 12.7rem;

    //     @media (min-width: 1024px) {
    //       width: 17.8rem;
    //       height: 23.3rem;
    //     }
    //   }
    // }

    &-img {
      display: flex;
      flex-direction: column;
      transform: translate(2rem, 0rem);

      // transform: translateX(2rem);

      @media (min-width: 1024px) {
        transform: translateX(0);
      }

      img {
        transform: translateY(1rem);
        width: 9.7rem;
        height: 12.7rem;
        border-radius: 0.5rem;

        @media (min-width: 1024px) {
          // width: 17.8rem;
          width: 15.8rem;
          // height: 23.3rem;
          height: 20.6rem;
          transform: translate(-2rem, 0);
        }

        &:hover,
        &:focus {
          filter: drop-shadow(-61px 11px 25px rgba(122, 122, 122, 0.01)) drop-shadow(-35px 6px 21px rgba(122, 122, 122, 0.05)) drop-shadow(-15px 3px 16px rgba(122, 122, 122, 0.09)) drop-shadow(-4px 1px 9px rgba(122, 122, 122, 0.1)) drop-shadow(0px 0px 0px rgba(122, 122, 122, 0.1));
        }
      }

      p {
        // transform: translate(-0.5rem, -0.5rem);
        transform: translate(-2rem, 1rem);
        max-width: 13.8rem;
        display: inline-block;
        @include InterMedium();
        font-size: 1.2rem;
        line-height: 1.7rem;
        text-align: center;
        color: var(--black_2);

        @media (min-width: 1024px) {
          // transform: translate(2rem, -1.5rem);
          transform: translate(-1.8rem, 0.5rem);
          max-width: 15.8rem;
          font-size: 1.4rem;
        }
      }
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16rem;
    width: 21.7rem;
    padding: 1.6rem 1.377rem;
    @include InterRegular();
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--black_2);
    border: 0.1rem solid var(--black_2);
    background: transparent;

    @media (min-width: 1024px) {
      position: static;
      transform: translateX(0);
      width: auto;
      align-self: flex-start;
      margin-top: 4rem;
      padding: 1.6rem 4.377rem;
      // font-size: 6.8rem;
    }
  }
}