section.landscaping
  .container 
    h1 #[span.red Благоустройство] общественных пространств
    .landscaping__top
      img(src="assets/img/landscaping_1.png" width="167" height="167" alt="")
      button.btn.landscaping__btn Галерея проектов
      .landscaping__top-img
        img(src="assets/img/landscaping_2.png" width="158" height="206" alt="")
        p Градостроительный анализ
    .landscaping__center
      img(src="assets/img/landscaping_3.png" width="129" height="183" alt="")
      img(src="assets/img/landscaping_4.png" width="106" height="150" alt="") 
    .landscaping__bottom
      img(src="assets/img/landscaping_5.png" width="177" height="143" alt="")
      img(src="assets/img/landscaping_6.png" width="210" height="149" alt="") 
      img(src="assets/img/landscaping_7.png" width="115" height="207" alt="")