section.landscaping
  .container 
    h1 #[span.red Благоустройство] общественных пространств
    .landscaping__top
      img(src="assets/img/landscaping_1.png" width="226" height="226" alt="" loading="lazy")
      button.btn.landscaping__btn Галерея проектов
      .landscaping__top-img
        img(src="assets/img/landscaping_2.png" width="158" height="206" alt="" loading="lazy")
        p Градостроительный анализ
    .landscaping__center
      img(src="assets/img/landscaping_3.png" width="187" height="265" alt="" loading="lazy")
      img(src="assets/img/landscaping_4.png" width="153" height="217" alt="" loading="lazy") 
    .landscaping__bottom
      img(src="assets/img/landscaping_5.png" width="256" height="207" alt="" loading="lazy")
      img(src="assets/img/landscaping_6.png" width="304" height="216" alt="" loading="lazy") 
      img(src="assets/img/landscaping_7.png" width="167" height="301" alt="" loading="lazy")