section.fragments-plan
  .container 
    h2 #[span.red Фрагменты] концептуального генерального плана
    .fragments-plan__images
      .fragments-plan__image
        img(src="assets/img/fragments-1.png" width="560" height="449" alt="" loading="lazy")
        span Рыбацкие пирсы
      .fragments-plan__image
        img(src="assets/img/fragments-2.png" width="560" height="449" alt="" loading="lazy")
        span Амфитеатр
      .fragments-plan__image
        img(src="assets/img/fragments-3.png" width="560" height="404" alt="" loading="lazy")
        span Пляжный отдых
      .fragments-plan__image
        img(src="assets/img/fragments-4.png" width="560" height="404" alt="" loading="lazy")
        span Зона отдыха с качелями
    .fragments-plan__text 
      p В центральной части территории, где местность особенно труднопроходима, деревянный настил переходит в металлическую дорожку, 
        | выходящую за урез воды вглубь водоема, отметка верха конструкции, при этом выше уровня ФПУ.
      p Западная часть территории так же представляет собой велопрогулочные дорожки, выполненные из гранитного отсева, а также дорожки с 
        | возможностью проезда спецтехники в южной части набережной. Места тихого отдыха, пирсы для рыбной ловли и оборудованные площадки 
        | для принятия солнечных ванн являются неотъемлемой частью запроектированной территории. Отличительной особенностью западной части 
        | является устройство арт-объекта «Маяк», который так же используется в качестве наблюдательного пункта.
      p Еще одой точкой притяжения данной территории будут являются цветники, устроенные на открытом пространстве, вблизи мест отдыха.