section.project-history 
  .container 
    h2 #[span.red История] места
section.blog-center
  .container 
    .blog-center__inner
      .blog-center__inner-tabs
        button.btn.blog-center__inner-tab.blog-center__inner-tab--active Сейчас-будущее
        button.btn.blog-center__inner-tab 21 век
        button.btn.blog-center__inner-tab 20 век
        button.btn.blog-center__inner-tab 18-19 век
    .project-history__content
      .project-history__content-text
        p  Для сохранения истории территории с учетом его современного использования необходимо «усилить силу места», а именно путем 
          | слияния прошлого и настоящего перенасытить функцию.
        p Сквер №1, где располагалась Церковь Александра Невского, а сейчас стоит памятный камень - открыть историческую достопримечательность 
          | путем выделения контура фундамента снесенного здания, организовать место памяти и дополнительную площадку будущего «Золотого кольца».
        p Сквер №2, в котором располагается здание Центра молодежи, а также примыкает к Дворцу творчества детей и молодежи разместить детскую 
          | игровую площадку, она же арт-объект, тем самым замкнуть «зеленый угол».
        p Сквер №3 и Сквер №4 объединить, сформировав тихое место для отдыха со скульптурами и арт-объектом с функцией выставки, чтобы 
          | демонстрировать исторические снимки площади, а также устраивать сезонные выставки.
        p Перечисленные мероприятия подчеркивают характер и историю места, возвращают к жизни опустевшие территории.
      img(src="assets/img/project-history-1.png" width="560" height="400" alt="" loading="lazy")