extends ./../layouts/main

block variables
  - let pageTitle = 'Проект';

block content
  .wrapper
    include ./../components/sections/header/header.pug
    main
      include ./../components/sections/project-2-top/project-2-top.pug
      include ./../components/sections/project-2-info/project-2-info.pug
      include ./../components/sections/project-2-desc/project-2-desc.pug
      include ./../components/sections/project-offers/project-offers.pug
      include ./../components/sections/fragments-plan/fragments-plan.pug
      include ./../components/sections/project-visualization/project-visualization.pug
      include ./../components/sections/other-projects/other-projects.pug
      include ./../components/sections/footer/footer.pug