section.project-desc 
  .container
    .project-desc__inner 
      .project-desc__inner-title 
        h2 #[span.red Описание] 
          |
          br
          | проекта
      .project-desc__inner-text
        .project-desc__inner-text-subtitle
          p В результате проведённого анализа территории были выявлены рекреационные сценарии, интенсивность использования которых 
            | говорит о необходимости создания полноценного прогулочного и пешеходного сценария, связывающего по круговому движению разные улицы.
        .project-desc__inner-text-blocks 
          p Параллельно с организацией пешеходного маршрута проектом предусматривается организация проезжей части в две полосы по 
            | одностороннему круговому движению, уменьшение ширины проездов вдоль фасадов зданий с организацией парковочных мест для 
            | легкового автотранспорта
          p Также проектом предусматривается устройство выделенной велодорожки и создание зон для отдыха. На всей территории благоустраиваемого 
            | участка произведена замена тротуаров и элементов освещения. Проработаны малые архитектурные формы, произведены точечные высадки 
            | деревьев в грунт.Тем самым площадь приобрела современный вид и стала комфортной как для передвижения, так и для отдыха.
    .project-desc__concept
      .project-desc__concept-text
        h3 Архитектурно-планировочная концепция
        p Предпроектное исследование территории
      img(src="assets/img/concept-1-xs.png" width="300" height="221" alt="" loading="lazy")