section.services-documentation
  .container 
    .services-documentation__inner
      .swiper.documentationSlider
        .swiper-wrapper
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
          .swiper-slide.services-documentation__card
            img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
            h3 Согласование проектно-сметной документации
        .swiper-pagination
      //- .services-documentation__card
      //-   img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
      //-   h3 Согласование проектно-сметной документации
      //- .services-documentation__card
      //-   img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
      //-   h3 Инженерные изыскания
      //- .services-documentation__card
      //-   img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
      //-   h3 Согласование проектно-сметной документации
      //- .services-documentation__card
      //-   img(src="assets/img/map-small.png" width="230" height="145" alt="" loading="lazy")
      //-   h3 Инженерные изыскания