.accordion
  .accordion__item.active
    h3 Общественные пространства
    .accordion__content.active
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
      img(src="assets/img/accordion-1.jpg" width="530" height="252" alt="" loading="lazy")
  .accordion__item
    h3 Общественные пространства
    .accordion__content
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
      img(src="assets/img/accordion-1.jpg" width="530" height="252" alt="" loading="lazy")
  .accordion__item
    h3 Общественные пространства
    .accordion__content
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
      img(src="assets/img/accordion-1.jpg" width="530" height="252" alt="" loading="lazy")
  .accordion__item
    h3 Общественные пространства
    div.accordion__content
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
      img(src="assets/img/accordion-1.jpg" width="530" height="252" alt="" loading="lazy")