section.landscaping-services
  .container 
    .landscaping-services__inner
      .landscaping-services__inner-top
        h2 Услуги по #[span.red благоустройству] территорий
        button.btn.landscaping-services__btn.btn--black Все услуги
      .landscaping-services__inner-bottom
        .service
          .service__img
            img(src="assets/img/service_1.png" width="340" height="200" alt="")
          h3 Градостроительный анализ
          ul.service__icons
            li.service__icon
              img(src="assets/img/icons/message-question.svg" width="30" height="30" alt="")
              span Узнать подробнее
            li.service__icon
              img(src="assets/img/icons/call-calling.svg" width="30" height="30" alt="")
            li.service__icon
              img(src="assets/img/icons/receipt-edit.svg" width="30" height="30" alt="")
        .service
          .service__img 
            img(src="assets/img/service_2.png" width="340" height="200" alt="")
          h3 Инженерные изыскания
          ul.service__icons
            li.service__icon
              img(src="assets/img/icons/message-question.svg" width="30" height="30" alt="")
              span Узнать подробнее
            li.service__icon
              img(src="assets/img/icons/call-calling.svg" width="30" height="30" alt="")
            li.service__icon
              img(src="assets/img/icons/receipt-edit.svg" width="30" height="30" alt="")
        .service
          .service__img 
            img(src="assets/img/service_3.png" width="340" height="200" alt="")
          h3 Проект благоустройства
          ul.service__icons
            li.service__icon
              img(src="assets/img/icons/message-question.svg" width="30" height="30" alt="")
              span Узнать подробнее
            li.service__icon
              img(src="assets/img/icons/call-calling.svg" width="30" height="30" alt="")
            li.service__icon
              img(src="assets/img/icons/receipt-edit.svg" width="30" height="30" alt="")