section.blog-center
  .container 
    .blog-center__inner
      .blog-center__inner-tabs
        button.btn.blog-center__inner-tab.blog-center__inner-tab--active Раздел 1
        button.btn.blog-center__inner-tab Раздел 2
        button.btn.blog-center__inner-tab Раздел 3
        button.btn.blog-center__inner-tab Раздел 4
sections.articles 
  .container 
    .articles__inner
      .articles__inner-chapter.tab-content.tab-content--active
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
      .articles__inner-chapter.tab-content
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
      .articles__inner-chapter.tab-content
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
      .articles__inner-chapter.tab-content
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug