.modal.modal-call
  .close
  .modal__form
    h3 Amet minim mollit non Amet minim
    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
    form(id="form-modal__call" action="" method="post")
      .inputs 
        input(type="text" class="form-modal__name" name="form-modal__name" placeholder="name")
        input(type="text" class="form-modal__phone" name="form-modal__phone" placeholder="phone")
      textarea(name="message" placeholder="comment")
      button(type="submit" class="btn btn--red btn--form-modal__submit") Отправить
      p Нажимая на кнопку «Отправить», вы принимаете условия обработки персональных данных