html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed Regular", "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
  // background: #D2D2D2;
}

header,
section,
footer,
main {
  width: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: calc(116rem + 3rem); // Максимальная ширина контейнера с учетом паддингов (2 х 1.5rem)
  padding: 0 1.5rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--no-padding {
    padding: 0;

    @media (min-width: 1024px) {
      padding: 0 1.5rem;
    }
  }
}

// Запрет скролла
.no-scroll {
  overflow: hidden;

  @media (min-width: 1024px) {
    padding-right: 1.7rem;
  }
}

// Затемняющий фон под модалкми
.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(18, 6, 0, 0.6);
    opacity: 0.8;
    will-change: display;
    transition: display 0.5s ease-out;
  }
}

// .tab-content {
//   display: none !important;

//   &--active {
//     display: flex !important;
//   }
// }

// Липкое меню
// .fixed {
//   position: fixed !important;
//   z-index: 200 !important;
//   top: 0;
//   left: 0;
//   background: #fff;
//   box-shadow: 0 1.2rem .8rem 0rem rgba(34, 60, 80, 0.2);
//   will-change: auto;
//   transition: all .5s ease-out;

//   @media (min-width: 1320px) {
//     width: calc(100% - 17px) !important;
//   }
// }

// Обертка липкого меню
// .fixed-wrap {
//   width: 100%;
//   max-width: 1140px;
//   margin: 0 auto;
//   will-change: auto;
//   transition: all .5s ease-out;
// }

.tab-content {
  // height: 0;
  will-change: auto;
  transition: all 0.5s ease-in-out;
  opacity: 0 !important;
  display: none !important;
  // transform: translateX(-200%);
  // transition: transform 1s ease; 

  &--active {
    height: auto;
    opacity: 1 !important;
    display: flex !important;
    // transform: translateX(0);
  }
}