.btn {
  // display: flex;
  // align-items: center;
  text-align: center;
  padding: 1.25rem 2.885rem;
  // @include InterRegular();
  outline: none;
  border: none;
  font-size: 1.6rem;
  line-height: 1.9rem;
  border-radius: 5rem;
  will-change: background, color;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &--black {
    color: var(--white_1);
    background: var(--black_1);
  }

  &--red {
    color: var(--white_1);
    background: var(--red_1);

    &:focus,
    &:hover {
      background: #000 !important;
      color: #fff !important;
    }
  }

  &--white {
    color: var(--black_1);
    border: 0.1rem solid var(--black_1);
    background: var(--white_1);
  }
  
  &:focus,
  &:hover {
    background: #BF0902;
    color: #FFFFFF;
  }
}