input,
textarea {
  width: 100%;
  padding: 2.1rem 2.4rem 2.1rem 2rem;
  margin-bottom: 2rem;
  @include InterRegular();
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: var(--gray_4);
  border: 0.1rem solid var(--white_3);
  border-radius: 0.5rem;

  &::placeholder {
    @include InterRegular();
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    color: var(--gray_4);
  }
}

.upload {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.upload .btn-tertiary {
  position: relative;
  @include InterMedium();
  color: var(--black_2);
  font-size: 1.6rem;
  line-height: 1.9rem;
  width: 20.8rem;
  text-align: left;
  display: block;
  border: 0.1rem solid var(--red_1);

  img {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.upload .input-file {
  width: 0.1rem;
  height: 0.1rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload .input-file + .js-labelFile {
  padding: 2rem 2rem;
  cursor: pointer;
}
