.red {
  color: var(--red_1);
}

h1 {
  @include InterBold();
  font-size: 6.8rem;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.035em;
  color: var(--black_1);
}

h2 {
  @include InterSemiBold();
  font-size: 4rem;
  line-height: 120.02%;
  color: var(--black_1);
}