section.projects-center
  .container 
    .projects-center__inner 
      .tabs.tabs-projects
        button.btn.tab.tab--active Алфавитный
        button.btn.tab Статус
        button.btn.tab Хронология
sections.projects
  .container 
    .projects-center__inner.tab-content.tab-content--active
      .projects-center__inner-row 
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-1.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-2.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-3.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-4.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-5.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-6.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-7.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-8.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-9.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-10.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-11.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-12.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га  
    .projects-center__inner.tab-content
      .projects-center__inner-row 
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-1.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-2.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-3.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-4.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-5.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-6.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-7.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-8.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-9.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-10.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-11.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-12.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га  
    .projects-center__inner.tab-content
      .projects-center__inner-row 
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-1.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-2.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-3.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-4.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-5.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-6.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-7.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-8.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-9.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small
          a(href="#!") 
            img(src="assets/img/project-10.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
      .projects-center__inner-row
        .project.project--large
          a(href="#!") 
            img(src="assets/img/project-11.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га
        .project.project--small 
          a(href="#!")
            img(src="assets/img/project-12.png" width="220" height="12" alt="" loading="lazy")
            h3 Тимоховский пруд и кинотеатр Искраг. Видное
          .swiper-slide__info 
            .swiper-slide__info-item 
              img(src="assets/img/icons/calendar.svg" width="20" height="20" alt="" loading="lazy")
              span 2019
            .swiper-slide__info-item 
              img(src="assets/img/icons/clock.svg" width="20" height="20" alt="" loading="lazy")
              span Реализован
            .swiper-slide__info-item 
              img(src="assets/img/icons/linear.svg" width="20" height="20" alt="" loading="lazy")
              span 5,41 Га  