section.goal.goal-project
  .container 
    .goal__inner
      .goal__inner-img.goal__inner-img__project
        .goal__inner-img__project-info 
          .goal__inner-img__project-block 
            img(src="assets/img/icons/project-info-icon-1.svg" width="30" height="30" alt="" loading="lazy")
            .block__content 
              .block__content-title 2019
              .block__content-desc дата проектирования
          .goal__inner-img__project-block 
            img(src="assets/img/icons/project-info-icon-2.svg" width="30" height="30" alt="" loading="lazy")
            .block__content 
              .block__content-title 5,2 Га
              .block__content-desc площадь
          .goal__inner-img__project-block 
            img(src="assets/img/icons/project-info-icon-3.svg" width="30" height="30" alt="" loading="lazy")
            .block__content 
              .block__content-title Реализован
              .block__content-desc статус
          .goal__inner-img__project-block 
            img(src="assets/img/icons/project-info-icon-4.svg" width="30" height="30" alt="" loading="lazy")
            .block__content 
              .block__content-title Благоустройство общественных и городских территорий
              .block__content-desc проекта
          .goal__inner-img__project-block 
            img(src="assets/img/icons/project-info-icon-5.svg" width="30" height="30" alt="" loading="lazy")
            .block__content 
              .block__content-title Россия, Московская область, г. Серпухов
              .block__content-desc расположение