section.project-visualization
  .container 
    .project-visualization__top 
      h2 #[span.red Визуализация] проекта
      .tabs.tabs-visualization
        button.btn.tab-visualization Визуализация
        button.btn.tab-visualization.tab-visualization--active Реализация день
        button.btn.tab-visualization Реализация ночь
    .project-visualization__images.tab-visualization-content.tab-visualization-content--active
      .project-visualization__images-large.project-visualization__images-large__text
        img(src="assets/img/project-visualization-large-1.jpg" width="1160" height="400" alt="" loading="lazy")
        .project-visualization__images-large-block
          p Наша цель – формировать новое качество жизни. Придавать облик современного времени. Дарить положительные эмоции людям.
      .project-visualization__images-small
        img(src="assets/img/project-visualization-small-1.jpg" width="560" height="400" alt="" loading="lazy")
        img(src="assets/img/project-visualization-small-2.jpg" width="560" height="400" alt="" loading="lazy")
      .project-visualization__images-large 
        img(src="assets/img/project-visualization-large-2.jpg" width="1160" height="400" alt="" loading="lazy")
    .project-visualization__images.tab-visualization-content 
      .project-visualization__images-large.project-visualization__images-large__text
        img(src="assets/img/project-visualization-large-1.jpg" width="1160" height="400" alt="" loading="lazy")
        .project-visualization__images-large-block
          p Наша цель – формировать новое качество жизни. Придавать облик современного времени. Дарить положительные эмоции людям.
      .project-visualization__images-small
        img(src="assets/img/project-visualization-small-1.jpg" width="560" height="400" alt="" loading="lazy")
        img(src="assets/img/project-visualization-small-2.jpg" width="560" height="400" alt="" loading="lazy")
      .project-visualization__images-large 
        img(src="assets/img/project-visualization-large-2.jpg" width="1160" height="400" alt="" loading="lazy")
    .project-visualization__images.tab-visualization-content
      .project-visualization__images-large.project-visualization__images-large__text
        img(src="assets/img/project-visualization-large-1.jpg" width="1160" height="400" alt="" loading="lazy")
        .project-visualization__images-large-block
          p Наша цель – формировать новое качество жизни. Придавать облик современного времени. Дарить положительные эмоции людям.
      .project-visualization__images-small
        img(src="assets/img/project-visualization-small-1.jpg" width="560" height="400" alt="" loading="lazy")
        img(src="assets/img/project-visualization-small-2.jpg" width="560" height="400" alt="" loading="lazy")
      .project-visualization__images-large 
        img(src="assets/img/project-visualization-large-2.jpg" width="1160" height="400" alt="" loading="lazy")