//- article.awards-card 
//-   .awards-card__inner
//-     img(src="assets/img/awards-1.jpg" width="160" height="226" alt="" loading="lazy")
//-     p Благоустройство исторической части города Сергиева ПосадаСеребреный диплом в номинации, «Реализованные проекты сохранения 
//-       | и развития градостроительных образовании садово-паркового искусства, создания новой жизни в исторических поселениях»