section.blog-center
  .container 
    .blog-center__inner.blog-center__inner-news
      .blog-center__inner-tabs
        button.btn.blog-center__inner-tab.blog-center__inner-tab__news.blog-center__inner-tab--active 2021
        button.btn.blog-center__inner-tab.blog-center__inner-tab__news 2020
        button.btn.blog-center__inner-tab.blog-center__inner-tab__news 2019
        button.btn.blog-center__inner-tab.blog-center__inner-tab__news 2018
        button.btn.blog-center__inner-tab.blog-center__inner-tab__news 2017
sections.articles 
  .container 
    .articles__inner 
      .articles__inner-chapter.tab-content.tab-content--active
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
      .articles__inner-chapter.tab-content
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
      .articles__inner-chapter.tab-content
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
      .articles__inner-chapter.tab-content
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
      .articles__inner-chapter.tab-content
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug
        include ./../../bem-blocks/blog-card/blog-card.pug