section.blog-top.services-top
  .container 
    .blog-top__inner 
      .breadcrumbs
        .breadcrumbs__item 
          .breadcrumbs__link 
            a(href="index.html") Главная 
          span.breadcrumbs-slash /
          .breadcrumbs__link 
            a(href="projects.html") Услуги 
          span.breadcrumbs-slash / Градостроительный анализ
    h1.services__title #[span.red Проведение предпроектных исследований] и градостроительного анализа территории
    .services-top__inner
      .services-top__inner-content
        .services-top__inner-texts
          p Архитектурная компания Mirror Group проведёт архитектурно-градостроительный анализ, ориентируясь на особенности местности, 
            | предпочтения людей, расположением охраняемых зон, памятников истории и архитектуры.
          p Мы специализируемся на взаимодействии с муниципалитетом и девелопментом, хорошо знаем все тонкости участия в государственных программах.
        .services-top__inner-cards
          .services-top__inner-card
            p Срок проведения исследований составляет от 30 до 90 рабочих дней
          .services-top__inner-card
            p Цена рассчитывается по запросу, исходя из особенностей проекта
      .services-top__inner-map
        img(src="assets/img/services-map.png" width="560" height="353" alt="" loading="lazy")